* text=auto eol=lf
*.png binary
*.whl binary
docs/live-evaluation/**/*.json -text whitespace=cr-at-eol

docs/operations/**/*.json -text whitespace=cr-at-eol
docs/live-evaluation/**/*.txt -text whitespace=cr-at-eol
